extends layout/main_layout.pug

block content
        h1 Please input your contacts
        form(action="/add", method="POST")
            label(for="name") Name:
                input(type="text", name="title")
            label(for="PhoneNo") PhoneNo:
                input(type="number", name="PhoneNo")
            label(for="email") Email:
                input(type="email", name="email")
            input(type="submit", value="Send")